{% extends "catalog/base.html" %}
{% block title %} Корзина {% endblock title %}


{% block content %}
{% load static %}
<script src="{% static 'bootstrap-input-spinner.js' %}"></script>
<script>
    $("input[type='number']").inputSpinner()
</script>
<hr>
<form id="form" action="{% url 'order' %}" method="post">{% csrf_token %}</form>
  <div class="container">
    <div class="row d-flex justify-content-center">
        {% for item in object_list %}
        <div class="card mb-3" style="max-width: 90%;">
            <div class="col d-flex justify-content-end">
                <form action="{% url 'cart' %}" method="post" class="">
                    {% csrf_token %}
                    <input type='hidden' value='{{ item.pk }}' name='pk'>
                    <button type="submit" class="btn btn-sm btn-primary mt-2 mb-2 text-center" style="background-color: #f47f00;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg></button>
                </form>
            </div>
            <div class="row">
            <div class="col-md-3 text-center">
              <img src="{{ item.image }}" class="mx-auto" alt="https://upload.wikimedia.org/wikipedia/commons/9/9a/%D0%9D%D0%B5%D1%82_%D1%84%D0%BE%D1%82%D0%BE.png" style="width: 100px; height: 100px; object-fit: cover;">
            </div>
              <div class="col-md-3 text-center">
                  <p class="card-text"><strong>Товар:</strong><br>{{ item.name_ru }}</p>
            </div>
              <div class="col-md-3 text-center">
                  <p class="card-text"><strong>Цена:</strong><br>{{ item.price }}</p>
            </div>
              <div class="col-md-3 text-center">
                  <p class="fw-bold">Количество:</p>
                      <input type="number" class="form-control form-control-sm mb-2" form="form" value="1" name="quantity">
                </div>
          </div>
        </div>
        {% empty %}
        <div class="alert alert-secondary text-center" role="alert">
            <h3>Корзина пуста</h3>
        </div>
        {% endfor %}
      {% if object_list.all %}
      <div class="col-6 text-center">
          {% csrf_token %}
         <button class="btn btn-secondary" form="form" type="submit" style="background-color: #017b44;">Оформить заказ</button>
      </div>
      {% endif %}
    </div>
  </div>
<hr>
{% endblock content %}