{% extends "catalog/base.html" %}
{% block title %} ECOS {% endblock title %}
{% block header %}Главная{% endblock header %}

{% block content %}
<hr>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 90%;">
          <div class="row">
              <label class="form-label fs-5 fw-bold">Стоимость заказа: {{ purchase }} сом</label>
              <label class="form-label fs-5 fw-bold">Стоимость доставки: {{ delivery }} сом</label>
              <label class="form-label fs-5 fw-bold">Итого: {{ total }} сом</label>
              <form action="{% url 'success' %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p}}
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary mb-2" type="submit" style="background-color: #017b44;">Заказать</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
</div>
<hr>
{% endblock content %}
</body>
</html>