{% extends "catalog/base.html" %}
{% block title %}Поиск{% endblock title %}
{% block header %}Поиск{% endblock header %}
{% block content %}
  <div class="container">
    <div class="row">
        {% for item in object_list %}
        <div class="card mt-5 mx-auto" style="width: 15rem;">
            <img src="{{ item.image }}" class="mx-auto" alt="https://upload.wikimedia.org/wikipedia/commons/9/9a/%D0%9D%D0%B5%D1%82_%D1%84%D0%BE%D1%82%D0%BE.png" style="width: 200px; height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">
                Цена: {{ item.price }} сом
              </h5>
              <p class="card-text">
                {{ item.name_ru}}
              </p>
            </div>
          </div>
        {% empty %}
            <h3 class="text-center mt-4">К сожалению ничего не найдено</h3>
        {% endfor %}
      </div>
    <hr>
    <nav class="navbar-center">
      <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</span></li>
          {% endif %}
          {% for p in page_obj.paginator.page_range %}
            {% if p > page_obj.number|add:-4 and p < page_obj.number|add:4 %}
                {% if page_obj.number == p %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ p }}">{{ p }}
                <span class="sr-only"></span></a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</span></li>
          {% endif %}
      </ul>
    </nav>
  </div>
{% endblock content %}
</body>
</html>